@import "../variables";

.audioControls {
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
}

.focused {
  background: var(--color-text-default);
  color: var(--color-background);
  outline: 0.125rem solid var(--color-text-default);
}

.controlIcon {
  height: 100%;
  width: 100%;
}
