@import "../variables";

.morningScreen {
  margin: auto;
  max-width: 65rem;
}

.header {
  background-image: url("./header-left.png"), url("./header-right.png");
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  image-rendering: pixelated;
  text-align: center;
}

.paperName {
  font-family: EnglishTowne-Webfont, serif;
  font-size: 4rem;
  font-weight: normal;
}

.day {
  font-size: var(--font-size-normal);
}

.message {
  font-size: var(--font-size-normal);
  margin: auto;
  text-align: justify;
  width: 66%;
}

.actions {
  margin-top: 2rem;
  text-align: center;
}

.button {
  min-width: 20%;
}

.footer {
  align-items: center;
  display: flex;
  font-size: var(--font-size-normal);
  justify-content: space-between;
  margin-top: 0.5em;
}

.byLines {
  text-align: right;
}
